<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/mode/clike/clike.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shtarev Compiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title">Shtarev Compiler</div>
            <div class="controls">
                <div class="circle reset" id="reset-button"></div>
                <div class="circle run" id="run-button"></div>
            </div>
        </div>
        <textarea id="code-editor" placeholder="Write your C++ code here..."></textarea>
        <div class="input-output">
            <textarea id="program-input" placeholder="Program Input"></textarea>
            <textarea id="program-output" placeholder="Output" readonly></textarea>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
